* {
  padding: 0;
  margin: 0;
}

/* Base */
body {
  background-color: #ededed;
}

main {
  background-color: white;
  margin-top: 40px;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

/* Header */
header {
  background-color: blue;
}

.navigation ul {
  list-style: none;
  display: flex;
}

.navigation ul li:not(:first-child) {
  margin-left: 20px;
}

/* Main */

.section-title {
  font-size: 34px;
  text-align: center;
}

.projects-wrap {
  display: flex;
  flex-wrap: wrap;
}

.project {
  flex: 0 0 25%;
  border: 1px solid black;
  padding: 10px;
}

.project-title {
    font-weight: bold;
    font-size: 18px;
}


/* Skills */
.skills-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skill {
  border:1px solid black;
  padding:10px;
  margin-right: 10px;
}