* {
  padding: 0;
  margin: 0;
}

/* Base */
main {
  background-color: #ededed;
}

.content-wrap {
  background-color: white;
  padding:40px;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

section:not(:last-child) {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 20px;
}
/* Header */
header {
  background-color: rgb(161, 161, 161);
  padding:20px;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
}

.navigation ul {
  list-style: none;
  display: flex;
}

.navigation ul li:not(:first-child) {
  margin-left: 20px;
}

/* Main */

.section-title {
  font-size: 34px;
  text-align: center;
}

.projects-wrap {
  display: flex;
  flex-wrap: wrap;
}

.project {
  flex: 0 0 25%;
  border: 1px solid black;
  padding: 10px;
}

.project-title {
  font-weight: bold;
  font-size: 18px;
}

/* Skills */
.skills-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skill {
  border: 1px solid black;
  padding: 10px;
  margin-right: 20px;
}

/* Footer */
footer {
  background-color: cadetblue;
}

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin:0 auto;
}
